@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
 

}
body{
    background-image: linear-gradient(to right, #54D7F6,#5C84EA);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(69, 100, 177, 0.61) ;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1{
    color: #484BD4;
    text-align: center;
    text-shadow:1px 1px 2px #aaefff9d ;
}

h2{
    color:#7C54F6
}
p{
    text-align: justify;
}